
:root{
  --blue-900: hsl(233, 47%, 7%);
  --blue-700: hsl(244, 38%, 16%);
  --purple--400: hsl(277, 64%, 61%);

  --transparent-white-para: hsla(0, 0%, 100%, 0.75);
  --transparent-white-heading: hsla(0, 0%, 100%, 0.6); 

  --ff-inter: 'Inter', sans-serif;
  --ff-deca: 'Lexend Deca', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

}
.attribution { font-size: 11px; text-align: center; }
.attribution  { color: hsl(0, 0%, 100%); }

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



body {
  background-color: var(--blue-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 2.5rem;
}

img {
  background-color: var(--purple--400);
z-index: 100;
}
.content {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin-bottom: 1rem;
}

@media (min-width: 700px){
  .content {
    flex-direction: row-reverse;
    
   
  }
}




.flex__group{

  margin: 0;
  background-color: var(--blue-700);
  padding: 1.75rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

h1 {
  color: white;
  font-family: var(--ff-deca);
  font-weight: var(--fw-bold);
  text-align: center;
  font-size: 1.40rem;
  padding-bottom: 1rem;
}
h1 span {
  color: var(--purple--400);
}

.para {
  color: var(--transparent-white-para);
  font-weight: var(--fw-regular);
  font-family: var(--ff-inter);
  font-size: 0.75rem;
  text-align: center;
}

.stats{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px){
  .stats {
    flex-direction: row;
  }
}

@media (min-width: 600px){
  .flex__group{
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1.5rem;

  }
}

@media (min-width: 600px){
  h1, .para{
    text-align: left;

  }
}
@media (min-width: 600px){
  .para{
    font-size: 0.585rem;

  }
}
/* @media (min-width: 600px){
  h1{
    font-size: 1.40rem;

  }
} */



@media (min-width: 600px){
  img{
    border-radius: none;
  }
}


.number {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  
}

.type {
  color: var(--transparent-white-heading);
  text-transform: uppercase;
  font-size: 0.575rem;
}
.group__1, .group__2, .group__3{
  
  
  font-weight: var(--fw-regular);
  font-family: var(--ff-inter);
  font-size: 0.75rem;
  text-align: center;
}

@media (min-width: 600px){
  .number{
    font-size: 0.8rem;
    text-align: left;

  }
}

@media (min-width: 600px){
  .type{
    font-size: 0.4rem;
   

  }
}